body {
  font-family: Arial;
  background: #f4f4f4;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-container {
  display: flex;
  width: 90%;
  margin: auto;
}

.sidebar {
  width: 25%;
  background: #222;
  color: white;
  padding: 15px;
}

#questionList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 6px;
}

.q-btn {
  padding: 10px;
  background: white;
  border: none;
  cursor: pointer;
}

.answered { background: green; color: white; }
.skipped { background: red; color: white; }

.content {
  width: 75%;
  background: white;
  padding: 20px;
}

.option {
  display: block;
  margin: 10px 0;
}